*{
    /* background-color: cadetblue; */
    color: brown;
}
h1{
    background-color: cadetblue !important;
    color: blueviolet;
}
img{
    width: 250px;
    height: 300px;
}
p{
    font-size: 18px;
}
.hobbies{
    background-color: chocolate;
    color: black;
}
.Education{
    background-color: cyan;
}
